@model MySwitch.Core.Models.Channel
@{
    ViewBag.Title = "Edit Channel Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="col-md-6">
    @if (ViewBag.Message != null)
    {
        @*if (ViewBag.Message == "Success")
            {
                <div class="alert alert-success">
                    <p>@ViewBag.Message <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

                </div>

            }
            else if (ViewBag.Message == "Exist")
            {
                <div class="alert alert-error">
                    <p>Branch Name Exist <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

                </div>

            }
            else if (ViewBag.Message == "Error")
            {
                <div class="alert alert-error">
                    <p>@ViewBag.Message <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

                </div>

            }
            else
            {*@
        <div class="alert" style="background-color:darkorange">
            <p>@ViewBag.Message <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>
        </div>
        @*}*@
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="form-group ">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", maxlength = 45, pattern = "^[A-Z\\sa-z]+$", minlength = 3, required = "required" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group ">
        @Html.LabelFor(m => m.Code)
        @Html.TextBoxFor(m => m.Code, new { @class = "form-control", maxlength = 5, pattern = "\\d+$", required = "required" })
        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
    </div>
    <div class="form-group ">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", maxlength = 255, @*pattern = "^[A-Z\\sa-z]+$",*@minlength = 3,
        required = "required"
    })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="SUBMIT" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section ViewSpecificJavascript
    {
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $(".alert").fadeOut(100, null);
            },
                3000);
        });
    </script>
}