@model MySwitch.Core.Models.FinancialInstitution
@{
    ViewBag.Title = "Add New Financial Institution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="col-md-6">

    @if (ViewBag.Message != null)
    {
        @*if (ViewBag.Message == "Success")
            {
                <div class="alert alert-success">
                    <p>@ViewBag.Message <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

                </div>

            }
            else if (ViewBag.Message == "Exist")
            {
                <div class="alert alert-error">
                    <p>Branch Name Exist <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

                </div>

            }
            else if (ViewBag.Message == "Error")
            {
                <div class="alert alert-error">
                    <p>@ViewBag.Message <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

                </div>

            }
            else
            {*@
        <div class="alert" style="background-color:darkorange">
            <p>@ViewBag.Message <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>
        </div>
        @*}*@
    }
    <div class="form-group ">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", maxlength = 45, pattern = "^[A-Z\\sa-z]+$", minlength = 3, required = "required" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group ">
        @Html.LabelFor(m => m.InstitutionCode)
        @Html.TextBoxFor(m => m.InstitutionCode, new { @class = "form-control", maxlength = 15, pattern = "\\d+$", required = "required" })
        @Html.ValidationMessageFor(model => model.InstitutionCode, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SinkNodeId)
        @Html.DropDownListFor(model => model.SinkNodeId, new SelectList(Model.SinkNodes,
            "Id", "Name"),"Choose an Option", new {@class = "form-control", required="required", @data_live_search = "true" })
        @Html.ValidationMessageFor(model => model.SinkNodeId, "", new { @class = "text-danger" })
    </div>
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" value="SUBMIT" class="btn btn-default" />&emsp;&emsp;
            <button class="btn btn-default">@Html.ActionLink("GO TO LIST", "Index")</button>

        </div>
    </div>


}



@section ViewSpecificJavascript
    {
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $(".alert").fadeOut(100, null);
            },
                3000);
        });
    </script>
}